/* GERAL */

html {
    font-family: Poppis, sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color1 {color: #060622;}
.color2 {color: #202a42;}
.color3 {color: #5f5f6d;}
.color4 {color: #95939e;}
.color5 {color: #cdcfca;}
.color6 {color: #ff4500;}

body {
    background-color: #060622;
    padding: 40px 4%;
}


section {
    margin-top: 100px;
    padding: 40px;
    box-shadow: 0px 4px 10px #ff4500;
    border-radius: 10px;
}

/* Rot bar */


header {
    padding: 40px 4%;
    background-color: #cdcfca;
    display: flex;
    border-radius: 0 0 15px 15px;
    justify-content: center;
    align-content: center;
}

header .container {
    display: flex;
    top: 0;
    gap: 100px;
    height: 10px;
}

header .home a{
    text-decoration: none;
    color: #060622;
    font-size: 20px;
    transition: .2s;
}

header .home a:hover {
    color: #ff4500;
    transform: scale(1.5);
}




/* Home */



.home-principal .container{

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.home-principal .container p {
    word-wrap: break-word;
    color: #fff;
    word-wrap: break-word;
    white-space: small;
    width: 1000px;
    font-size: 30px;
    gap: 50px;
    margin: 20px;
}

.home-principal .container h1 {
    justify-content: center;
    align-items: center;
    color: #95939e;
    font-size: 50px;
}

.home-principal .container h1 span {
    color: #a52a2a;
}

.img-container{
    background-color: #5e333393;
    justify-content: center;
    align-items: center;
    border-radius: 250px;
}

.img-container img{
    display: flex;
    width: 500px;
    height: 400px;
}

/* Sobre */

.sobre {
    margin-top: 120px;
    height: 800px;
}

.sobre .container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 130px;
}

.sobre .container h1 {
    color: #a52a2a;
    font-size: 60px;
}

.sobre .vd-sobre .vd-mh  {
    width: 600px;
}

.sobre .container .btn-sobre  {
    background-color: #cc3700;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px 15px #060622;
    cursor: pointer;
    transition: .3s;
}



.sobre .container .btn-sobre:hover {
    background-color: #fff;
    transform: scale(1.08);
}

.sobre .container .btn-sobre a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.sobre .container .btn-sobre a:hover {
    color: #060622;
    transform: scale(1.08);
}

/* Teorias */

.teorias {
    padding: 40px 4%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.teorias .container img {
    width: 300px;
}


.teorias .container {
    margin: 60px;
}

.teorias .container h3{
    margin-top: 40px;
    color: #FFF;
    font-size: 20px
}


.teorias .container p {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    font-size: 15px;
    color: #FFF;
    font-weight: 450;
}



/* Rotbar */
footer {
    display: inline-flex;
    background-color:#cdcfca;
    color: black;
    text-align: center;
    padding: 20px;
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    border-radius: 15px 15px 0 0 ;
    font-size: 25px;
    justify-content: center;
    align-content: center;
}

/* Imagem Galeria */

#image-gallery {
    padding: 50px 50px;
    text-align: center;
}

#image-gallery h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #FFf;
}

form {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

input[type="file"] {
    padding: 10px;
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #cc3700;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    transition: .3s;
}

button:hover {
    background-color: #a52a2a;
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery img {
    width: auto;
    height: 700px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Feedbeck */

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px ;
    background-color: #fff;
    font-size: 20px;
    border-radius: 15px;
}

.swiper-slide {
    display: flex;
    align-self: center;
    justify-items: center;
}

.swiper-slide div {
   margin-bottom: 80px;
}

.swiper-slide blockquote {
    width: 350px;
    text-align: center;
}

.swiper {
    width: 600px;
    height: 300px;
  }

/* Formulario */

#form-feedbeck {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    height: 100vh;           /* Ocupa toda a altura da tela */

  }
  
#form-feedbeck .container {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;  /* Define uma largura máxima para o formulário */
    text-align: center;
  }

  #form-feedbeck .container h2 {
    color: #fff;
    font-size: 30px;
  }
  
  .form-feedbeck {
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
  }
  
  label {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    margin: 10px 0 5px;
    text-align: left;
  }
  
  #form-feedbeck .container input, textarea {
    color: #060622;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
  }
  
  button {
    background-color: #cc3700;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #a52a2a;
  }
  

/* Botão para voltar a pagina */

#btnTopo {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: none; /* Oculto por padrão */
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

#btnTopo:hover {
    background-color: #cc3700;
}




